.page {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 20px;
    background-color: #F6F6E8;
    color: #404040;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    max-width: 1020px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #404040;
    color: #F6F6E8;
}

.header__title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
    text-transform: uppercase;
}

.header__subtitle {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
}

.main {
    max-width: 1020px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6E8;
    color: #404040;
}

.getinfo {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #404040;
    color: #F6F6E8;
}

.form {
    max-width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6A9A1F;
}

.form__field {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__label {
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
}

.form__input {
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1;
    border: none;
    border-radius: 3px;
    background-color: #F6F6E8;
    color: #404040;
}

.form__error {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 7px;
    font-size: 11px;
    color: #D43F3F;
}

.form__button {
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    background-color: #00ACE9;
    color: #F6F6E8;
    opacity: 0.4;
}

.form__button_active {
    opacity: 1;
    transition: 0.3s ease-in opacity;
}

.form__button_active:hover {
    cursor: pointer;
    opacity: 0.6;
}

.form__button_active:active {
    opacity: 1;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.popup_closed {
    display: none;
}

.forecast {
    max-width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #F6F6E8;
    color: #404040;
}

.forecast__title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
}

.forecast__temperature {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
}

.forecast__weather {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
}

.forecast__wind {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
}

.forecast__advice {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
}

.forecast__button {
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    background-color: #00ACE9;
    color: #F6F6E8;
    transition: 0.3s ease-in opacity;
}

.forecast__button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.forecast__button:active {
    opacity: 1;
}

@media (max-width: 768px) {
    .page {
        padding: 0;
    }

    .header {
        padding: 20px 10px;
    }

    .header__title {
        margin-bottom: 15px;
        font-size: 22px;
    }

    .header__subtitle {
        font-size: 12px;
    }

    .forecast {
        max-width: 250px;
        padding: 10px;
    }

    .forecast__title {
        font-size: 18px;
    }

    .forecast__weather {
        font-size: 14px;
    }

    .forecast__weather {
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 18px;
        line-height: 1.2;
    }
    
    .forecast__wind {
        font-size: 14px;
    }
    
    .forecast__advice {
        font-size: 14px;
    }
    
    .forecast__button {
        font-size: 10px;
    }
}